{% extends 'base.html' %}
{% load static %}

{% block title %}Are you sure?{% endblock %}
{% block content %}
    <div class="container">
        <h1>Are you sure you want to delete "Book Title"?</h1>
        <div class="btn-container">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger btn-yes" type="submit">Yes, I'm sure</button>
            </form>
            <form action="{% url 'book_list' %}">
                <button class="btn btn-primary btn-no">No, take me back</button>
            </form>
        </div>
    </div>
    <footer>
        <p>Powered by <a href="https://www.linkedin.com/in/abdulla-dev/">Abdulla Abdukulov</a></p>
    </footer>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
